/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: 'Inter', sans-serif;
  color: #343a40;
  line-height: 1;
}

.accordion {
  margin: 100px auto;
  width: 700px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.number,
.text {
  font-size: 24px;
  color: #343a40;
  font-weight: 500;
}

.number {
  color: gray;
}

.icon {
  border: none;
  background: none;
  cursor: pointer;
}

.icons {
  width: 24px;
  height: 24px;
  stroke: green;
}

.hidden-box {
  grid-column: 2;
}

.hidden-box p {
  line-height: 1.5;
  margin-bottom: 24px;
}

.hidden-box ul {
  color: grey;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hidden-box {
  display: none;
}

.open {
  border-top: 4px solid green;
}

.open .hidden-box {
  display: block;
}

.open .number,
.open .text {
  color: green;
}
